@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,500&display=swap');

:root{
    //colors
    --white: #fff;
    --lightGray: #f3f3f3;
    --black: #000;
    --CallToAction: #C52525;

    //fonts
    --headline: 'Righteous', cursive;
    --paragraph: 'Roboto Flex', sans-serif;
}
